<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Language Coach - Coaching</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.html">Home</a></li>
            <li role="presentation"><a href="studybot.html">StudyBot</a></li>
            <li role="presentation" class="active"><a href="coaching.html">Coaching</a></li>
            <li role="presentation"><a href="podcasts.html">Podcasts</a></li>
            <li role="presentation"><a href="about.html">About</a></li>
          </ul>
        </nav>
        <a href="index.html"><img class="tinylogo" src="logo.png" alt="language coach logo"></a>
      </div>

		<h1 class="titlecentre">What is language coaching?</h1>
		<h2 class="titlecentre">and how will we work together?</h2><br>
		<p>I offer support for self-taught language learners. This is increasingly the way that people learn new languages, enabled by the amazing riches and opportunities that the internet brings.</p>

		<p>People often email me for advice on their own self-study programmes and I have noticed a number of problems that come up repeatedly:</p>
		<ul>
		<p><li><b>Motivation</b> — This is the big one. Everyone suffers slumps, but the people who are successful at learning language find ways to mitigate these periods of low-energy and keep going.</li>
		<li><b>General Productivity Tweaks</b> — Most of us could do things more efficiently. If you have a busy schedule, you could probably benefit from removing the things which are holding you back. You can probably also be more focused about your approach.</li>
		<li><b>Lacking a Grand Plan</b> — It’s important to embed habits for daily study into a larger plan, one that you can use to assess (and reassure yourself) that you’re making progress.</li>
		<li><b>Accountability</b> — Some people really benefit from having someone check in with them regularly, functioning as a sort of external reminder service to keep on the track they decided would be good to follow.</li></ul></p>

		<p>So the kind of language-coaching that I offer addresses these meta-problems. If you need, we can probably get into the weeds on why this preposition is used here versus there, but you probably already have a teacher or some kind of textbook that can explain that to you. But we&#8217;ll mainly be talking about these meta-issues.</p>

		<p>I&#8217;ve been interested in language-learning for much of my life. You can see some of the languages I&#8217;ve spent time grappling with <a href="http://www.alexstrick.com/languages">here</a>. I&#8217;ve also been fascinated with the different ways that one can work, think and study, so these two things come together in how I approach language coaching.</p>

		<p>I studied Arabic and Farsi/Persian at university, but even in a full-time programme, you&#8217;re alone for most of the time, just you and your books. When I moved to Afghanistan, I had to grapple with Pashto, a language for which there were no useful textbooks or study materials at the time. Now I&#8217;m comfortable in several languages and I&#8217;ve managed to figure out some things that really <em>work</em>.</p>

		<h2 id="whattoexpect">What to expect</h2>

		<p>Everyone is unique, so my approach is flexible depending on what goals you want to reach. As a general template, though, we would have an introductory session beforehand where I can explain a little what we&#8217;d be doing together. I&#8217;m interested in the specifics of what you want to achieve, and this will form the basis of how we&#8217;d come up with a plan. This is usually around three months, a sort of custom-tailored language challenge. We&#8217;d come up with specific, measurable goals for those three months, and then come up with a template of things to do to achieve those goals. Then every week we&#8217;d check in for 30&#8211;60 mins to talk about what worked and what didn&#8217;t in your studies, refine the next week&#8217;s plan and so on.</p>

		<p>I don&#8217;t charge for the preliminary chat, and it may be that you just need 30&#8211;60 mins to talk things through and you don&#8217;t need any more. That&#8217;s all fine. Sometimes it just helps to talk things through with someone who&#8217;s been in the self-study trenches as well. But for checking in every week and the ongoing support, I charge £200 (GBP) per month (i.e. for 4 sessions).</p>

		<p>None of this requires we be in the same place, nor does it require me to speak the language you&#8217;re learning. All of this tackles the meta-issues that might be holding you back from learning languages faster and more effectively.</p>

		<h2 id="letsgetstarted">Let&#8217;s Get Started!</h2>

		<p>Please <a href="http://languagecoach.io/contact/">get in touch</a> if you have any further questions or to schedule a chat.</p>
		<br>
		<h3 id="resources:">Further Reading:</h3>

		<p>I&#8217;ve <a href="http://www.alexstrick.com/blog/?category=Language">written about languages</a> often over on my personal blog.</p>

		<p>Interviews: <a href="http://www.sourcesandmethods.com/podcast/2014/10/2/sources-and-methods-4-gabriel-wyner">Gabriel Wyner</a> / <a href="http://www.sourcesandmethods.com/podcast/2015/9/14/sources-and-methods-20-stephen-krashen">Stephen Krashen</a> / <a href="http://tammybjelland.com/podcast-episode-10-interview-alex-strick-van-linschoten/">Me, talking with Tammy Bjelland</a></p>

		<h3 id="anoteontime"><i>A Note on Time</i></h3>

		<p>We&#8217;re all busy, so I&#8217;ll help you find the most efficient way to study as we work together. That being said, it will be you doing most of the work. There&#8217;s no point sugar-coating the truth that <em>if you want to make decent progress in your studies, you&#8217;ll want to be studying around 10&#8211;12 hours per week on average</em>.</p>

		<p>There&#8217;s no way round that: if you put in the time, you will make progress. It&#8217;s also a far better use of your money to work with me if you are putting in serious time during the week in between our sessions. If you are only managing an hour or two per week, your progress may be too slow to build up momentum and too slow to justify the extra cost of working with a coach like me.</p>


      <footer class="footer">
        <p>&copy; 2017 Alex Strick van Linschoten // <a href="https://incrementalelephant.org/contact/">Contact</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
