{% extends "base.html" %}
{% block content %}

<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/coachbot">CoachBot</a></li>
            <li role="presentation"><a href="/masterarabic">Master Arabic</a></li>
            <li role="presentation"><a href="/coaching">Coaching</a></li>
            <li role="presentation"><a href="/podcasts">Podcasts</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
        <a href="index.html"><img class="tinylogo" src="../static/logo.png" alt="language coach logo"></a>
      </div>
        <div>       
        <h2 id="whatiscoachbot">What is CoachBot?</h1>

        <p>Are you trying to teach yourself a language? Are you at an upper-beginner or intermediate level? Do you ever sit down to study and wonder what you should do?</p>

        <p>CoachBot is a free tool designed to deal with this problem. I've studied several languages and know the paralysis that can come at the intermediate level: there are too many options and you just need someone to tell you what to study and for how long.</p>

        <p>CoachBot gives you a task that you can complete within a specific time-frame. If you have only 5 minutes, it'll pick a random task from the database that I curated and wrote myself. Have an hour? It'll suggest a different kind of task. If you don't want to do a particular task, just click to get a new one.</p><br>

        <div align='center'>
        <a href="/howmuchtime"><button type="button" class="btn btn-primary">Use CoachBot</button></a>
        </div>

        <h2 id="features">Features</h1>

        <ul>
        <li>Offers tasks for language students</li>
        <li>Tasks are suggested depending on how much time you have</li>
        <li>Ideal for anyone studying alone / outside classroom environment</li>
        <li>COMING SOON: User login and individual progress tracking</li>
        <li>COMING SOON: Timer and time tracker</li>
        </ul>
        <br>
        <p>Current number of unique tasks: 381<br/>
        <em>Last updated January 2, 2017</em></p>

        <h3 id="roadmap">Roadmap</h1>

        <p>I am building CoachBot in public. I'd like to keep you updated with what's going on and features that I'm currently working on (or what's coming further down the pipeline). You can view all this on the <a href="https://trello.com/b/RVjGqGnV">shared roadmap</a>. Feel free to vote for and suggest new features within the various lists.</p>
        </div>
      
      <footer class="footer">
        <p>&copy; 2017 Alex Strick van Linschoten // <a href="https://incrementalelephant.org/contact/">Contact</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
  </body>

{% endblock %}