{% extends "base.html" %}
{% block content %}
    <h2 align="center">How much time do you have?</h2>
    <br>
    <div align="center">
	<a href="/fivemintask"><button type="button" class="btn btn-info">5 mins</button></a>
	<a href="/tenmintask"><button type="button" class="btn btn-primary">10 mins</button></a>
	<a href="/twentymintask"><button type="button" class="btn btn-success">20 mins</button></a>
	<a href="/thirtymintask"><button type="button" class="btn btn-warning">30 mins</button></a>
	<a href="/sixtymintask"><button type="button" class="btn btn-danger">60 mins</button></a>
	</div>
{% endblock %}