{% extends "base.html" %}
{% block content %}

<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/coachbot">CoachBot</a></li>
            <li role="presentation"><a href="/masterarabic">Master Arabic</a></li>
            <li role="presentation"><a href="/coaching">Coaching</a></li>
            <li role="presentation"><a href="/podcasts">Podcasts</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
        <a href="index.html"><img class="tinylogo" src="../static/logo.png" alt="language coach logo"></a>
      </div>

        <div class="jumbotron">
        <h1>Learn Languages</h1>
        <h2>with Alex Strick van Linschoten</h2><br>
        <p class="lead">I offer support for self-taught language learners. This is increasingly the way that people learn new languages, enabled by the amazing riches and opportunities that the internet brings.</p><br>
        <p><a class="btn btn-lg btn-success" href="coaching.html" role="button">What is language coaching?</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Get Help from CoachBot</h4>
          <p><a href="/coachbot">CoachBot</a> picks tasks for you to study in time-slots that suit your schedule.</p>

        </div>

        <div class="col-lg-6">
          <h4>Studying Arabic?</h4>
          <p>Pre-order a copy of 'Mastering Arabic' now for in-depth tips, strategies and resources to get you from an intermediate level to advanced and beyond.</p>

        </div>
      
      </div>

      <footer class="footer">
        <p>&copy; 2017 Alex Strick van Linschoten // <a href="https://incrementalelephant.org/contact/">Contact</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
  </body>
   
{% endblock %}