{% extends "base.html" %}
{% block content %}

<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/coachbot">CoachBot</a></li>
            <li role="presentation" class="active"><a href="/coachbot">Master Arabic</a></li>
            <li role="presentation"><a href="/coaching">Coaching</a></li>
            <li role="presentation"><a href="/podcast">Podcast</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
        <a href="/"><img class="tinylogo" src="../static/logo.png" alt="language coach logo"></a>
      </div>
        <div class="jumbotron">
        <h1>Master Arabic</h1>
        <p class="lead">Intermediate-level Arabic student? Time to level up!</p><br>
        <img src="../static/cover.png" alt="Master Arabic cover art">
      </div>

        <p>You&#8217;re an Arabic student, and after months and years of studying, you&#8217;re finally able to come up with the correct <em>i&#8217;raab</em> in your sleep and write flowing, cohesive essays. But you feel like you&#8217;ve hit a roadblock: You know enough Arabic to read a newspaper, but not to find out who made the final goal in last night&#8217;s football match. You can laugh at a joke in Arabic, but lack the skills to reply.</p>

        <p><i>Master Arabic</i> is for you. This is a resource for intermediate-level Arabic learners who are looking to progress in the language in an engaging, simple way that doesn&#8217;t require going back to school or starting from scratch. <i>Master Arabic</i> will take your Arabic to the next level: It features tried-and-tested resources and techniques and practical advice on how to improve your reading, writing, speaking and listening skills. It shows how to make these improvements while retaining time to have a life outside language study. <i>Master Arabic</i> comprises everything from productivity advice to recommendations for tools to improve specific skills.</p>

        <p><i>Master Arabic</i> is available as a premium package that includes over a dozen interviews with leading educators, Arabists and students from Jordan, Egypt and the United States, who impart their secrets on how to pass through to advanced materials. The premium package also includes access to an online resource database of materials to study Arabic.<br/></p>
        
        <p>I designed <i>Master Arabic</i> as an outcome of my experiences learning Arabic and languages such as Dari, Persian and Pashto. Over the past decade, I&#8217;ve had everything from a conventional, university-level language education to an immersive language learning experience and self-taught myself everything from Japanese Kanji to basic Urdu.</p>

        <p>I studied Arabic at university, but my skills had begun to atrophy over the years while I focused on other languages. I was like you - stuck at one level. I dove back into Arabic, using study methods and advice from language-learning experts that have helped make me reach break through my learning plateau to the advanced level. This resource offers everything I&#8217;ve learnt and much more: it has insights from Arabic teaching professionals who&#8217;ve experimented with methods and hit on winning formulas, students who&#8217;ve developed interesting ways of practicing Arabic, and the best of the learnings from the polyglot community.</p>

        <p>As a <a href="http://languagecoach.io/coaching">coach for language learning methods</a>, I&#8217;m aware of the challenges faced by everyone from language students to professionals who need to learn a language to succeed at work. I&#8217;m confident that this resource will help you excel at Arabic, and that together, we can finally master this wonderful language.</p>
        <br>

        <div align='center'>
        <a href="http://gum.co/masterarabic-basic"><button type="button" class="btn btn-primary"><b>Buy Basic Edition</b> (£29.99)<br><br>(PDF - Book only)</button></a> <a href="http://gum.co/masterarabic-premium"><button type="button" class="btn btn-danger"><b>Buy Premium Edition</b> (£49.99)<br>(incl. online resource library, 13 interviews,<br>5 cheat sheets and discount codes)</button></a>
        </div>
        <br>
        <div align="center"><b>Release Date: February 13, 2017</b></div>
        <div>
          <h2>What's in the Premium Edition?</h2>
          Included with the premium package are:
          <br><br>
          <ol>
          <li><a href="#interviews"><b>13 Expert Interviews</b></a> - You'll receive a link to download MP3 files for you to listen at your own convenience. I chose people who have been through the challenges associated with intermediate learning plateaus, and they each offer unique tips to break through to more advanced levels.</li>
          <li><a href="#discounts"><b>Discount Codes</b></a> - Exclusive discount codes from some useful language services and publishers. Language learning can be expensive; these codes offer some respite.</li>
          <li><b>Online Resource List</b> - I've scoured the web and physical bookstores to pick out the best resources available for the intermediate language learner. This is a 'living document', continually updated as I come across new materials. The resources are organised into topics / areas, and there are dialect-specific sections as well.</li>
          <li>Cheat Sheet - <b>Most Common 1000 Words</b> - learning this list will make more of the things you read and listen to comprehensible.</li>
          <li>Cheat Sheet - <b><a href="http://fourhourworkweek.com/2007/11/07/how-to-learn-but-not-master-any-language-in-1-hour-plus-a-favor/">Tim Ferriss' Deconstruction Dozen</a></b> - Twelve sentences that reveal the core grammatical structures and principles at work in the Arabic language.</li>
          <li>Cheat Sheet - <b>Tool Overview</b> - An overview of some of the main tools and tricks you can use to work on specific skills or areas of your study.</li>
          <li>Cheat Sheet - <b>Goal-Setting Worksheet</b> - a one-page chart to help you think about the goals you set. (Corresponds to a section in the book on goal-setting.)</li>
          <li>Cheat Sheet - <b>Arabizi</b> - a one-page quick reference chart for the symbols and letters used to type unique Arabic letters using English script. Essential for txting and chatting with friends!</li>
          <li>Access to the exclusive <b><a href="http://incrementalelephant.org">Incremental Elephant</a> forum</b> to discuss language learning and your Arabic progress</li>
          <li><b>Sample Study Plans</b> - I've included suggested activities you can use to customise your own plan. Includes samples for those who only have 30 minutes each day as well as someone working on an intensive study programme (either in-country or at a university)</li>
          <li><a href="#copyforfriend"><b>Spread the Learning!</b></a> - Buy the premium edition and I'll send a PDF copy of the book to a friend, free of charge!</li>
          <li><b>Lifetime updates</b> - Receive lifetime updates to the book's text. I continue to work on the text and when a new release is available, premium customers can download the update for free.</li>
          </ol>
          </div>

        <h2 id="whoisthisfor">Who is this for?</h2>

        <p>This resource is for people who:</p>

        <ul>
        <li>are curious about improving their Arabic</li>
        <li>have studied Arabic at university but don&#8217;t feel confident with the language, particularly the spoken / dialect part</li>
        <li>studied Arabic years ago and want to get back into it without studying the alphabet all over again</li>
        <li>speak, write or read at an intermediate level</li>
        <li>don&#8217;t want to learn purely from conventional methods: textbooks, CDs, handmade flashcards</li>
        <li>are looking to improve any and all of their skills: reading, writing, listening, speaking</li>
        <li>want to try innovative approaches to language learning</li>
        <li>are curious about improving their memory skills</li>
        <li>care about learning Arabic with its nuances and context</li>
        <li>open-minded about new ways of studying</li>
        <li>don&#8217;t feel studying Arabic is a chore</li>
        <li>are great at colloquial Arabic and want to improve their fusha, or vice-versa</li>
        <li>enjoy learning languages and are happy to explore methods of self-study</li>
        </ul>

        <h2 id="whybuymasterarabic">Why buy <i>Master Arabic</i>?</h2>

        <ul>
        <li>you&#8217;ll learn how to advance your Arabic in an engaging way, using a multitude of techniques that you can apply to other parts of life</li>
        <li>you get access to a diverse range of expertise, insights and practical advice from linguists, Arabic educators, and students who&#8217;ve excelled at the languages</li>
        <li>it&#8217;s a resource you can turn to throughout your life: this is one for the ages.</li>
        <li>you&#8217;ll learn how to advance in all key areas of Arabic and study in a more cohesive way</li>
        </ul>

        <h2 id="interviews">PREMIUM -- 13 Expert Interviews</h2>

        <!--Projects container -->
        <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
        <div class="col-xs-4">
            <img class="img-circle" src="https://www.lingualift.com/blog/content/images/2016/09/Portret-Gabriel-Wyner.jpg" alt="Gabriel Wyner" width="140" height="140">
            <h2>Gabriel Wyner</h2>
            <small>Author of the bestseller '<a href="https://fluent-forever.com/">Fluent Forever</a>', Gabriel Wyner teaches a method to get from zero to an advanced level as quickly as possible.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/gd-profilepic.jpg" alt="Gerald Drißner" width="140" height="140">
            <h2>Gerald Drißner</h2>
            <small>Author of '<a href="http://arabic-for-nerds.com/">Arabic for Nerds</a>' and '<a href="https://www.amazon.com/gp/product/1530860180/ref=as_li_tl?camp=1638&creative=6742&creativeASIN=1530860180&linkCode=as2&tag=soumet-20&ie=UTF8">Islam for Nerds</a>', Gerald is an award-winning journalist. He has been living in the Middle East and North Africa for ten years, where he has intensively studied Arabic.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/ollie.jpg" alt="Ollie Richards" width="140" height="140">
            <h2>Olly Richards</h2>
            <small>Founder of the popular blog <a href="http://www.iwillteachyoualanguage.com/">'I Will Teach You a Language'</a>, Olly Richards speaks 8 languages and helps others learn multiple languages.</small>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <div class="row">
        <div class="col-xs-4">
            <img class="img-circle" src="../static/johnfotheringham.png" alt="John Fotheringham" width="140" height="140">
            <h2>John Fotheringham</h2>
            <small>John is an author, podcaster and language learning expert. His book, '<a href="http://l2mastery.com/language-guides/master-japanese/">Master Japanese</a>' was the inspiration behind my work on 'Master Arabic'.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/kellydoffing.png" alt="Kelly Doffing" width="140" height="140">
            <h2>Kelly Doffing</h2>
            <small><a href="http://www.qfi.org/people/team-member/kelly-doffing/">Kelly</a> is a programme officer at <a href="http://www.qfi.org/">Qatar Foundation International</a> and she works to spread the study of Arabic language to classrooms worldwide.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/ellenjovin.jpg" alt="Ellen Jovin" width="140" height="140">
            <h2>Ellen Jovin</h2>
            <small><a href="http://ellenjovin.com/about">Ellen</a> is a grammar freak, a former freelance writer, and a founder and principal of <a href="http://www.syntaxis.com/">Syntaxis</a>, a communication skills training firm based in New York City.</small>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <div class="row">
        <div class="col-xs-4">
            <img class="img-circle" src="../static/linaobeidat.png" alt="Lina Obeidat" width="140" height="140">
            <h2>Lina Obeidat</h2>
            <small><a href="https://www.italki.com/teacher/1139916">Lina</a> is a Jordanian Arabic teacher (and doctor!). I have studied written Arabic and Jordanian dialect with her for the past three years using <a href="https://www.italki.com/teacher/1139916">iTalki</a>.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/fred430.jpg" alt="Fred Tiedemann" width="140" height="140">
            <h2>Fred Tiedemann</h2>
            <small>Director of CGE Jordan and author of "<a href="https://www.facebook.com/the101book/">The 101 Most Used Verbs in Spoken Arabic: Jordan & Palestine</a>", Fred teaches a dialect-first approach.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/monaazam.jpg" alt="Mona Azam" width="140" height="140">
            <h2>Mona Azam</h2>
            <small>Mona is a professional teacher of Arabic based in Cairo. She runs <a href="http://arabicglobal.com/">Arabic Global</a> and teaches online <a href="https://www.italki.com/teacher/1142017">via iTalki</a>.</small>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <div class="row">
        <div class="col-xs-4">
            <img class="img-circle" src="../static/omarmatadar.png" alt="Omar Matadar" width="140" height="140">
            <h2>Omar Matadar</h2>
            <small>Director of the popular <a href="http://www.qasid.com/why-qasid/campus/">Qasid Arabic Institute</a> in Amman, Jordan, Omar was educated in the United States and has a Master's degree in teaching English to speakers of other languages.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/nathanfield.png" alt="Nathan Field" width="140" height="140">
            <h2>Nathan Field</h2>
            <small>Author of the popular blog, 'Real World Arabic', Nathan has worked in Saudi Arabia and the Gulf. He has also helped train other professionals to speak Arabic and advises on Middle East politics.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-circle" src="../static/johnstrick.png" alt="John Strick van Linschoten" width="140" height="140">
            <h2>John Strick van Linschoten</h2>
            <small>John (also my brother) works with the <a href="http://icrc.org">International Committee for the Red Cross</a>. He studied Arabic (and Turkish) at <a href="http://www.soas.ac.uk">SOAS</a> and is working on a MA in Linguistics.</small>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
      <div class="row">
        <div class="col-xs-4">
            <img class="img-circle" src="../static/jadeiqbal.png" alt="Jade Iqbal" width="140" height="140">
            <h2>Jade Iqbal</h2>
            <small>Jade Iqbal is a humanitarian worker. He has studied various languages via a number of different methods and spoke about his specific tricks to get over language learning plateaus.</small>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
      
      <h2 id="discounts">PREMIUM -- Exclusive Discount Codes</h2>
      <br>
      <div class="row">
        <div class="col-xs-4">
            <img class="img-square" src="../static/bliubliu.png" alt="Bliu Bliu" width="140" height="140">
            <h2>Bliu Bliu</h2>
            <small><a href="https://bliubliu.com/">Bliu Bliu</a> uses a unique methodology and gives you interesting content at your level which is how children learn their first languages. This method helps to improve your vocabulary and enables natural language acquisition. To take your Arabic to the next level, join their 30 day Arabic Challenge where you will be able to improve your vocabulary, reading and practice speaking with a group of like-minded people. Get 3 months Premium for free when you enrol in the Arabic Challenge.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-square" src="../static/italki.jpg" alt="iTalki" width="140" height="140">
            <h2>iTalki</h2>
            FOR PRE-ORDER ONLY<br>
            <small><a href="https://www.italki.com/i/fHDd6">iTalki</a> is the secret to improving your spoken Arabic. Pick from dozens of professional and amateur teachers. Study at your convenience from home or work, at any time that suits you. I've taken hundreds of hours of lessons using iTalki and can attest to its value! Get $10 of language classes for free with your first purchase and the exclusive premium code.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-square" src="../static/glossika.png" alt="Glossika" width="140" height="140">
            <h2>Glossika</h2>
            <small><a href="https://glossika.com/">Glossika</a>'s amazing audio-based courses offer sentences and audio transcriptions for a daily dose of language, scientifically spaced for optimum retention. Choose between different course paces to suit your schedule. Get their <a href="https://glossika.com/courses/fluency123/modern-standard-arabic">MSA</a> or <a href="https://glossika.com/courses/fluency123/egyptian-arabic">Egyptian</a> course (Syrian dialect coming soon) for a 25% discount with the exclusive premium code.</small>
            </div>
        </div><!-- /.row --><br>
      <div class="row">
        <div class="col-xs-4">
            <img class="img-square" src="../static/foreigncy.png" alt="Foreigncy" width="140" height="140">
            <h2>Foreigncy</h2>
            FOR PRE-ORDER ONLY<br>
            <small><a href="http://foreigncy.us/">Foreigncy</a> is designed for intermediate and advanced language learners to get more practice and to broaden their exposure to authentic Arabic texts. They put out several new exercises each week. This is a great service to create a daily habit around. Get a 10% discount on six-month and annual subscriptions with the exclusive premium code.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-square" src="../static/talkinarabic.jpeg" alt="Talk in Arabic" width="140" height="140">
            <h2>Talk in Arabic</h2>
            <small><a href="http://talkinarabic.com/">Talk in Arabic</a> is a great service and resource for working on your spoken Arabic. Talk in Arabic offers videos, audio files and transcriptions to get you going in whatever dialect you choose in no time at all. Get a discount on subscriptions with the exclusive premium code.</small>
            </div><!-- /.col-lg-4 -->
        <div class="col-xs-4">
            <img class="img-square" src="../static/beeminder.png" alt="Beeminder" width="140" height="140">
            <h2>Beeminder</h2>
            <small><a href="https://www.beeminder.com/">Beeminder</a> is part of the secret sauce that keeps me motivated and honest about my language study over the long-term. Make progress on your goals, or feel the pain! Get a 20% discount on all premium plans with the exclusive premium code.</small>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
        
      
      <br>
      <div>
      <h2 id="copyforfriend">PREMIUM -- Free Copy For A Friend</h2>
      Two books for the price of one! Premium customers can choose one friend, <i>sadeeq</i>, family member, neighbor, etc. to receive a free copy of Master Arabic. Just let me know who I should send the download link to.
      </div>
      <h2>Partner Sites</h2>
      <div class="row">
        <div class="col-xs-4">
            <img class="img-square" src="../static/lingualism.png" alt="Lingualism" width="140" height="140"><br>
            <small><a href="http://lingualism.com/bookstore/">Lingualism</a> is a one stop shop for all your colloquial and listening needs. This small publishing house produces dictionaries, dialogue transcriptions and collections of listening exercises. Enter the coupon code 'masterclass' at checkout for 10% off your first purchase. (The coupon is limited to one purchase per email address. It will deduct 10% the cart total.)</small>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row --><br>

      <div>
        <h2>FAQ (Frequently Asked Questions)</h2>
        <ul>
        <li><b>What is your refund policy?</b> - I've put in a great deal of work into this book and the extra resources. I'm so confident that you'll enjoy this book and study package that I'm offering a no-questions-asked 30-day money back guarantee. This gives you plenty of time to try the materials at your own leisure and decide if it's right for you.
        <li><b>Do you give talks and presentations to introduce the material in this course?</b> - I've been giving speeches and presentations for many years now. I'd be happy to talk to your organisation, but please email me with the details of your request.
        <li><b>Do you offer bulk discounts for schools and other educational institutions?</b> - Please <a href="https://incrementalelephant.org/contact/">email me</a> to discuss making this happen.
        <li><b>Can I gift this book to a friend?</b> - Yes! Please <a href="https://incrementalelephant.org/contact/">email me</a> to arrange this gift purchase.</li>
        </ul>
        </div>

      <div>
        <h2>Questions?</h2>
        First, please check the FAQ (above). If you have any other questions about the content, the different packages or anything at all, <a href="https://incrementalelephant.org/contact/">send an email</a> and I'll get back to you as soon as I can.
      </div><br>



      <footer class="footer">
        <p>&copy; 2017 Alex Strick van Linschoten // <a href="https://incrementalelephant.org/contact/">Contact</a></p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
  </body>

{% endblock %}