<!doctype html>
<html lang="en-US">
  <head>
    <% if @title %>
    <title><%= @title %> - LanguageCoach.io</title>
    <% else %>
    <title>LanguageCoach.io</title>
    <% end %>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type='image/x-icon' href="favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/styles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script defer data-domain="languagecoach.io" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
